src/WebMaestro.Tests/Resources/Wsdl Sample 2.xml

<?xml version="1.0"?>
<definitions name="StockQuote"
	targetNamespace="http://example.com/stockquote.wsdl"
    xmlns:tns="http://example.com/stockquote.wsdl"
    xmlns:xsd1="http://example.com/stockquote.xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">

	<types>
		<xsd:schema targetNamespace="http://example.com/stockquote.xsd">
			<xsd:element name="TradePriceRequest">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="tickerSymbol" type="string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TradePrice">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="price" type="float"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>

	<message name="GetLastTradePriceInput">
		<part name="body" element="xsd1:TradePriceRequest"/>
	</message>

	<message name="GetLastTradePriceOutput">
		<part name="body" element="xsd1:TradePrice"/>
	</message>

	<portType name="StockQuotePortType">
		<operation name="GetLastTradePrice">
			<input message="tns:GetLastTradePriceInput"/>
			<output message="tns:GetLastTradePriceOutput"/>
		</operation>
	</portType>

	<binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetLastTradePrice">
			<soap:operation soapAction="http://example.com/GetLastTradePrice"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="StockQuoteService">
		<documentation>My first service</documentation>
		<port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
			<soap:address location="http://example.com/stockquote"/>
		</port>
	</service>

</definitions>